<div class="w-full">
  <% content_for :title, "Posts" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "btn btn-primary" if authenticated? %>
  </div>

  <p class="mt-4">Our blog has <%= Post.public_count %> posts and counting!</p>

  <div id="posts" class="min-w-full space-y-5 mt-5">
    <% @posts.each do |post| %>
      <% unless post.archived? %>
        <article class="card">
          <%= render post %>
          <p>
            <%= link_to "Show this post", post, class: "btn" %>
          </p>
        </article>
      <% end %>
    <% end %>
  </div>
</div>
